html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-color: #202124;
    color: #
}

.nav_button a{
    list-style: none;
}

.nav_button-colordifer {
    color: bdc1c6;
}

